@charset "UTF-8";

#home {
    margin: 10px; /* HTML 요소의 바깥 여백 */
    padding: 20px; /* HTML 요소의 테두리 안쪽 여백 */
    border-bottom: 2px solid white;
    font-size: x-large;
    color: #6B7483;
}

body {
	background:#cce6ff;
	text-align: center;
}

a:link { color: #6B7483; text-decoration: none; }
a:visited { color: #6B7483; text-decoration: none; }
a:active { color: #6B7483;}

div img {
	border: 25px solid #cce6ff;
}

header {
	display: block;
	margin: 100px;
	
}

.menu * {
    display: inline;
}

.menu li {
    margin: 50px;
}

.menu li a {
    color: #6B7483;
    text-decoration: none;
}

.menu {
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    height: 80px;
} 

#info {
	position: absolute;
	height: 200px;
	width: 500px;
	margin: -300px 0px 0px -250px;
	top:50%;
	left: 50%;
	padding: 5px;
	list-style:none;
    padding-left:0px;
    font-size: 25px;
    color: #3E434B;
}

#info li {
	margin-bottom: 15px;
	width: 500px;
}

.parent {
    width: 90%;
    margin: 0 auto;
    display: flex;
    border-bottom: 2px solid white;
    padding-top: 5px;
}

.first {
    flex:1;
    width:30%;
    box-sizing: border-box;
}

.second {
    flex:1;
    margin: auto;
    width:30%;
    box-sizing: border-box;
}

.third {
    flex:1;
    width:30%;
    box-sizing: border-box;
}

.parent p {
    margin-top:2px;
    margin-bottom: 15px;
    color: #3E434B;
}

.parent img {
    border-bottom: 5px solid #cce6ff;
}

.dune {
    flex:1;
    margin: auto;
    width:30%;
    box-sizing: border-box;
}



